<% if @message.sender_id == current_user.id %>
<div class="sender-name">Do: <%= message.receiver.full_name %></div>
<% else %>
<div class="sender-name">Od: <%= message.sender.full_name %></div>
<% end %>
<div class="message-topic">Temat: <%= message.topic %></div>
<div class="message-full"><%= message.message %></div>
