<div class="container">
<div class="card bg-light">
<div class="card-body  mx-auto" style="min-width: 500px;">
<h1>New Specialist</h1>

<%= render 'form', specialist: @specialist %>

<%= link_to 'Back', specialists_path %>
</div>
</div>
</div>