<h1> Moje wiadomości </h1>
<%= link_to 'Wiadomości odebrane', receivedMessages_path, :remote => true %>
<%= link_to 'Wiadomości wysłane', sentMessages_path, :remote => true %>
<div id="message-list"></div>
