/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.specialist:hover {
  background-color: lightblue;
  cursor: pointer;
}

.transitOption {
  display: inline-block;
}

.transitOption:hover {
  cursor: pointer;
}

#full-stars-example {

  /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
  .rating-group {
    display: inline-flex;
  }

  /* make hover effect work properly in IE */
  .rating__icon {
    pointer-events: none;
  }

  /* hide radio inputs */
  .rating__input {
   position: absolute !important;
   left: -9999px !important;
  }

  /* set icon padding and size */
  .rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 2rem;
  }

  /* set default star color */
  .rating__icon--star {
    color: orange;
  }

  /* set color of none icon when unchecked */
  .rating__icon--none {
    color: #eee;
  }

  /* if none icon is checked, make it red */
  .rating__input--none:checked + .rating__label .rating__icon--none {
    color: red;
  }

  /* if any input is checked, make its following siblings grey */
  .rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
  }

  /* make all stars orange on rating group hover */
  .rating-group:hover .rating__label .rating__icon--star {
    color: orange;
  }

  /* make hovered input's following siblings grey on hover */
  .rating__input:hover ~ .rating__label .rating__icon--star {
    color: #ddd;
  }

  /* make none icon grey on rating group hover */
  .rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
     color: #eee;
  }

  /* make none icon red on hover */
  .rating__input--none:hover + .rating__label .rating__icon--none {
    color: red;
  }
}

.location {
  display:flex;
}

.distance {
  font-size: 9px;
  align-self: end;
  padding-left: 5px;
}

.star-ratings-sprite {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;

  &-rating {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display:block;
  }

}

/* ************************* MENU ************************/

body {
	margin-top: 70px;
}

#topBar {
	padding: 10px;
	background-color: #212529;
}
li.nav-item {
	padding: 5px 20px;
}

li.nav-item a {
	color: #FFF;
}

li.nav-item a:hover {
	color: #fed136 !important;
	text-decoration: none;
}

#currentUser {
	color: #fed136;
}

/* ***************************** STRONA GŁÓWNA ***********************/

.box-finder {
	background: #f0f0f0;
	padding: 10px 10px;
	border-radius: 5px;
}

#pac-input {
	width: 100%;
	padding: 5px 10px;
	font-size: 18px;
}

#specialty_id {
	width: 100%;
	font-size: 18px;
	padding: 7px 10px;
}

input[type="submit"]:hover, .przycisnik a:hover {
	font-size: 18px;
	padding: 7px 35px;
	background-color: #fec810 !important;
}

input[type="submit"], .przycisnik a{
	font-size: 18px;
	padding: 7px 35px;
	background-color: #feaf10 !important;
	border: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
}

/*** ********************** wyszukani ************************** ***/

#lista {
	padding: 0px;
}

#lista li.specialist {
	padding: 10px 15px;
	max-width: 500px;
	background: #f0f0f0;
	display: block;
	margin-bottom: 10px;
}

.rating {
	padding: 10px 0 0 0;
}

.box-trasa {
	padding: 20px 0px;
}

#drawRoute {
	padding: 5px 10px;
}

.fas.fa-car-alt, .fas.fa-shoe-prints {
	font-size: 35px;
	padding: 0 10px;
}

.transitOption {
	border: 1px solid #c8c8c8;
}

.active {
	background-color: #f0f0f0;
}

#reviews {
	margin: 20px 0;
}

.przesuwak{
	margin:10px 0px;
}

#timeOfTransit {
	padding: 10px 17px;
}

.review {
	border-bottom: 1px solid #000;
	padding: 10px;
}

/** ******************** register i login ******************** ***/

.field {
	padding: 10px 0 0 0;
}

.field label {
	margin-bottom: 2px;
}

.field input {
	width: 100%;
	padding: 5px 10px;
}

.actions {
	text-align: center;
	padding: 20px 0 0 10px;
}

#user_remember_me {
	width: auto;
}

.fa-bell {
  color: white;
  font-size: 20px;
}

.notifications {
  display: none;
  position: absolute;
  width: 240px;
  padding-left: 0;
  margin-left: -100px;
  padding-top: 20px;
  background: #212529;
  color: white;
}
