<div class="container">
<div class="card bg-light">
<div class="card-body  mx-auto" style="max-width: 400px;"><h1>New Review</h1>

<%= render 'form', review: @review %>

<%= link_to 'Back', reviews_path %>
</div>
</div>
</div>